body {
    font-family: Arial, serif;
    font-size: 10px;

}

h2 {
    font-size: 15px;
    color:darkblue;
}

table {
    margin-bottom: 20px;
    border: 15px solid #F2F8F8;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    padding: 5px;
    background: #F2F8F8;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}

td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}